In [2]:
import pandas as pd

In [9]:
# Series
a = [1, 2, 3]
myvar = pd.Series(a)
myvar

0    1
1    2
2    3
dtype: int64

In [38]:
# DataFrame
data = [['Google',10],['Runoob',12],['Wiki',13],['Tencent', None]]
df = pd.DataFrame(data,columns=['Site','Age'])
df

      Site   Age
0   Google  10.0
1   Runoob  12.0
2     Wiki  13.0
3  Tencent   NaN

In [12]:
# 取出某一行
df['Site']

0     Google
1     Runoob
2       Wiki
3    Tencent
Name: Site, dtype: object

In [16]:
# 找到空值
df[df.isnull().T.any()]

      Site  Age
3  Tencent  NaN

In [17]:
# 遍历行
for row in df.iterrows():
    print(row)

(0, Site    Google
Age       10.0
Name: 0, dtype: object)
(1, Site    Runoob
Age       12.0
Name: 1, dtype: object)
(2, Site    Wiki
Age     13.0
Name: 2, dtype: object)
(3, Site    Tencent
Age         NaN
Name: 3, dtype: object)

In [23]:
# 遍历行
for row in df.itertuples():
    print(row)

Pandas(Index=0, Site='Google', Age=10.0)
Pandas(Index=1, Site='Runoob', Age=12.0)
Pandas(Index=2, Site='Wiki', Age=13.0)
Pandas(Index=3, Site='Tencent', Age=nan)

In [31]:
# 定位单元格
df.loc[1]['Site']
df.iloc[1]['Site'], df.iloc[0][1]

('Runoob', 10.0)

In [47]:
# 按条件修改值（这里有点问题）
df[df['Age'] > 10] = 15
df

      Site   Age
0   Google  10.0
1       15  15.0
2       15  15.0
3  Tencent   NaN